.button {
  padding: 15px 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.primary {
  background-color: #040d12;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #040d12;
}
