.product {
  padding: 20px 2.5vw;
  background-color: #f9f9f9;

  &__main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap; /* Memungkinkan elemen untuk menumpuk jika ruang tidak cukup */
    &__content {
      flex: 1; /* Memungkinkan konten untuk mengambil sisa ruang */
      display: grid;
      gap: 10px;
      row-gap: 2.5rem;
      grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 1fr)
      ); /* Kolom yang fleksibel sesuai lebar item */
    }
  }
}

/* Media Queries untuk layar yang lebih kecil */
@media (max-width: 768px) {
  .product__main {
    flex-direction: column; /* Mengubah layout ke kolom pada layar kecil */
    gap: 1.5rem;
  }
  .product__main__content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(400px, 1fr)
    ); /* Grid lebih fleksibel pada layar kecil */
  }
}
